{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if messages %}
    <ul class="messages w-auto absolute right-5">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% include "includes/herosection.html" %}
{% include "includes/hostel-rooms.html " %}
{% include "includes/benifits.html" %}
{% include "includes/gallery.html"%}
{% include "includes/testimonial.html" %}
{% include "includes/acom.html" %}
{% include "includes/contact.html" %}
 
<a href="#home" class="z-10">
    <button class="fixed up_btn z-10  right-5 bottom-5 text-white bg-[#235784] p-5 transition-transform hover:scale-110">
        <i class="fas fa-arrow-up"></i>
    </button>
</a>
{% endblock %}